.title-card-container {
	display: flex;
	align-items: center;
}

.title-card-container-par {
	margin-left: 10px;
}

.card-container-comments{
	width: 70%;
	overflow: hidden;
	box-shadow: 0px 0px 10px -5px;
	margin: 15px;
	padding: 15px;
	transition: 0.2s;
	animation: ease-in;
}
