.titlebar-container {
  display: flex;
  color: whitesmoke;
  background-color: dodgerblue;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
}
.title-tile-bar-container {
  width: 50%;
  padding-left: 50px;
}
.title-bar-avatar {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 50%;
  padding-right: 50px;
}
