.button-modal-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.modal-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-input-content {
    display: flex;
    align-items: center;
}

.modal-input-content input{
    margin-left: 20px;
    width: 300px;
    height: 20px;
}
.modal-input-content h3{
    width: 90px;
}
.modal-textarea-content{
    display: flex;
    flex-direction: column;
}

.modal-textarea-content textarea{
    margin-left: 20px;
    width: 300px;
    height: 150px;
    margin-left: 110px;
    
}

.button-modal-container button{
    margin-right: 0px;
    margin-left: 100px;
}