.card-container{
    width: 70%;   
    overflow: hidden;
    box-shadow: 0px 0px 10px -5px;   
    margin: 15px;
    padding: 15px;
    transition: 0.2s;
    animation: ease-in;
}

.card-container:hover{
    transform: scale(1.01);
    box-shadow: 0px 0px 10px 0px;
}

.button-card{
    color:whitesmoke;
    background-color: rgb(14, 100, 197);
    border: none;
    box-shadow: 0px 0px 10px 10px;
    width: 120px;
    height: 30px;
    border-radius: 5%;
}
.button-card:hover{
    background-color: rgb(11, 70, 138);
}

.button-card-container{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}