.main-container-viewer{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.button-new-comment{
    color:whitesmoke;
    background-color: rgb(14, 100, 197);
    border: none;
    box-shadow: 0px 0px 10px 10px;
    border-radius: 5%;
    margin-left: 100px;
    width: 130px;
    height: 30px;
}

.button-new-comment:hover{
    background-color: rgb(11, 70, 138);
}

.button-new-comment-back{
    color:whitesmoke;
    background-color: black;
    border: none;
    border-radius: 5%;
    margin-left: 100px;
    width: 130px;
    height: 30px;
}

.button-new-comment-back:hover{
    border: 1px solid black;
    background-color:whitesmoke;
    color: black;
}

.button-container-comments{
    display: flex;
    justify-content: center;
    margin: 30px;

}

.footer-container-posts{
    display: flex;
    height: 20px;
    margin: 50px;
    justify-content: center;
}

h2{
    margin-left: 20px;
}